Repository jfandy1982/emby-data-check: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

docs: :memo: extend documentation for each app and repo (#7)
  .cspell.json
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  apps/edc-api-e2e/README.md
  apps/edc-api/README.md
  apps/edc-ui-ng-cucumber-e2e/README.md
  apps/edc-ui-ng-cypress-e2e/README.md
  apps/edc-ui-ng/README.md
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: improve IDE integration settings
  .vscode/extensions.json
  .vscode/settings.json
  nx.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: disable VSCode code actions on save
  .vscode/settings.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :technologist: adjust debug configuration
  .vscode/launch.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :technologist: adjust file pattern definitions
  .vscode/settings.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :technologist: improve WebStorm IDE settings
  .gitignore
  .prettierrc
Due: none

chore: adjust ignored files after restructuring git settings
  .gitignore
Due: none

chore: :wrench: improve settings for static code checks
  sonar-project.properties
Due: none

chore: :wrench: improve settings for static code checks
  .gitignore
  .prettierignore
  .vscode/settings.json
  eslint.config.mjs
  sonar-project.properties
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: remove libs folder from folder detection
  sonar-project.properties
Due: none

ci: :green_heart: separate e2e tests
  .github/workflows/ci_pipeline_simple.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: add rules for TS/JS consistency
  eslint.config.mjs
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: update ESLint rules and put into proper places
  .cspell.json
  apps/edc-ui-ng-cucumber-e2e/eslint.config.mjs
  apps/edc-ui-ng-cypress-e2e/eslint.config.mjs
  apps/edc-ui-ng/eslint.config.mjs
  eslint.config.mjs
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

fix: :wrench: fix usage of cypress.recommended
  apps/edc-ui-ng-cucumber-e2e/eslint.config.mjs
  apps/edc-ui-ng-cypress-e2e/eslint.config.mjs
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: adjust default formatters
  .vscode/settings.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: ignore package-lock.json explicitly
  .prettierignore
  eslint.config.mjs
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

fix: :wrench: put coverage files within rootDir folder hierarchy
  apps/edc-api-e2e/jest.config.ts
  apps/edc-api/jest.config.ts
  apps/edc-ui-ng/jest.config.ts
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: define cache and dependsOn settings for default targets
  apps/edc-api/project.json
  nx.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :adhesive_bandage: fix output directory for coverage results
  apps/edc-api-e2e/project.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: apply best practices for build targets
  apps/edc-api/project.json
  apps/edc-api/webpack.config.js
  apps/edc-ui-ng/project.json
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: enable Nx caching for build target
  apps/edc-api/project.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :coffin: deactivate e2e targets from test scripts
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: update tsc target version
  apps/edc-ui-ng/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: add project-local claude folders
  .claude/agents/.gitkeep
  .claude/hooks/.gitkeep
  .claude/skills/.gitkeep
  .gitignore
  eslint.config.mjs
  nx.json
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :stethoscope: add typecheck target into pre-commit
  .lintstagedrc.json
  apps/edc-api/project.json
  apps/edc-ui-ng/project.json
  nx.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

fix: :bug: remove dependsOn setting for e2e target
  apps/edc-api-e2e/project.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :green_heart: enable edc-api-e2e for local test and ci test
  .github/workflows/ci_pipeline_simple.yml
  apps/edc-api-e2e/project.json
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

fix: :green_heart: enable edc-ui e2e for local test and ci test
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/project.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

fix: :green_heart: replace webServerCommands by devServerTarget
  apps/edc-ui-ng-cucumber-e2e/cypress.config.ts
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/cypress.config.ts
  apps/edc-ui-ng-cypress-e2e/project.json
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: describe e2e targets
  apps/edc-api-e2e/project.json
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/project.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: remove test file name pattern from exclusions
  sonar-project.properties
Due: none

chore: :stethoscope: hide packages from renovate config
  .github/renovate.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wastebasket: remove moduleResolution setting
  apps/edc-api/tsconfig.spec.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :technologist: remove outdated repo scripts
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :heavy_minus_sign: remove config-nx-scopes dependency
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: enable jest coverage collection
  apps/edc-ui-ng/jest.config.ts
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: harmonize test suite names
  apps/edc-api-e2e/jest.config.ts
  apps/edc-api/jest.config.ts
  apps/edc-ui-ng/jest.config.ts
Due: prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: add output configuration for e2e-ci target
  apps/edc-api-e2e/project.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :see_no_evil: add experiments folder to be ignored by Nx
  nx.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx,mjs,cjs}) or (any of: **/*.{json,md,html,css,scss,yml,yaml})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx,mjs,cjs}
  cspell lint --no-must-find-files --no-progress: (any of: **/*.{ts,tsx,js,jsx,mjs,cjs}) or (any of: **/*.{json,md,html,css,scss,yml,yaml})
