Repository jfandy1982/emby-data-check: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,mjs,cjs}": [
    "bash -c 'npm run typecheck:affected'",
    "prettier --write",
    "eslint --fix",
    "cspell lint --no-must-find-files --no-progress"
  ],
  "**/*.{json,md,html,css,scss,yml,yaml}": ["prettier --write", "cspell lint --no-must-find-files --no-progress"]
}

chore: :wrench: add inputs configuration for e2e- and test-targets
  nx.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: configure default inputs for typecheck target
  apps/edc-api/project.json
  apps/edc-ui-ng/project.json
  nx.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: add output configuration for e2e targets
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/project.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :lipstick: add 'npm.exclude' and sort json files
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: consolidate coverage settings for Jest
  apps/edc-api-e2e/jest.config.ts
  apps/edc-api/jest.config.ts
  apps/edc-ui-ng/jest.config.ts
  jest.preset.js
  nx.json
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

build: :green_heart: instrument coverage for cypress test suites
  apps/edc-ui-ng-cucumber-e2e/.nycrc
  apps/edc-ui-ng-cucumber-e2e/cypress.config.ts
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/.nycrc
  apps/edc-ui-ng-cypress-e2e/cypress.config.ts
  apps/edc-ui-ng-cypress-e2e/project.json
  apps/edc-ui-ng/project.json
  apps/edc-ui-ng/webpack.coverage.ts
  package-lock.json
  package.json
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: add test reporter 'text'
  apps/edc-ui-ng-cucumber-e2e/.nycrc
  apps/edc-ui-ng-cypress-e2e/.nycrc
Due: none

Optimize code quality tools (#8)
  .claude/agents/.gitkeep
  .claude/hooks/.gitkeep
  .claude/skills/.gitkeep
  .cspell.json
  .github/renovate.json
  .github/workflows/ci_pipeline_simple.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  apps/edc-api-e2e/jest.config.ts
  apps/edc-api-e2e/project.json
  apps/edc-api/jest.config.ts
  apps/edc-api/project.json
  apps/edc-api/tsconfig.spec.json
  apps/edc-api/webpack.config.js
  apps/edc-ui-ng-cucumber-e2e/.nycrc
  apps/edc-ui-ng-cucumber-e2e/cypress.config.ts
  apps/edc-ui-ng-cucumber-e2e/eslint.config.mjs
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/.nycrc
  apps/edc-ui-ng-cypress-e2e/cypress.config.ts
  apps/edc-ui-ng-cypress-e2e/eslint.config.mjs
  apps/edc-ui-ng-cypress-e2e/project.json
  apps/edc-ui-ng/eslint.config.mjs
  apps/edc-ui-ng/jest.config.ts
  apps/edc-ui-ng/project.json
  apps/edc-ui-ng/tsconfig.spec.json
  apps/edc-ui-ng/webpack.coverage.ts
  eslint.config.mjs
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  sonar-project.properties
  tsconfig.base.json
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: separate port configurations
  apps/edc-api/project.json
  apps/edc-api/src/main.ts
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/project.json
  apps/edc-ui-ng/project.json
  apps/edc-ui-ng/proxy.conf.js
  apps/edc-ui-ng/proxy.conf.json
  package.json
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

ci: :technologist: add seed.yml and reusable workflows
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
  .github/workflows/ci_pipeline_simple.yml
  .github/workflows/seed.yml
  README.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: clean up npm scripts and target configurations
  .github/workflows/ci-ui.yml
  .github/workflows/seed.yml
  .lintstagedrc.json
  apps/edc-api-e2e/project.json
  apps/edc-api-e2e/src/support/global-setup.ts
  apps/edc-api-e2e/src/support/test-setup.ts
  apps/edc-api/project.json
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/project.json
  apps/edc-ui-ng/project.json
  package.json
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :memo: update app-specific documentation
  .env.sample
  CLAUDE.md
  README.md
  apps/edc-api-e2e/README.md
  apps/edc-api/README.md
  apps/edc-ui-ng-cucumber-e2e/README.md
  apps/edc-ui-ng-cypress-e2e/README.md
  apps/edc-ui-ng/README.md
Due: prettier --write, cspell lint --no-must-find-files --no-progress

ci: :lock: set content permission in reusable workflows
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: print affected e2e projects
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: fix coverage merge issue
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

ci: add upload of merged coverage files
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: fix configuration for cwd paths in lcov.info files
  .github/workflows/seed.yml
  apps/edc-api/project.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: define collectCoverageFrom setting
  apps/edc-api/jest.config.ts
  apps/edc-ui-ng/jest.config.ts
  sonar-project.properties
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: adjust test file pattern
  sonar-project.properties
Due: none

chore: ignore Angulars dev-server proxy config files
  sonar-project.properties
Due: none

ci: fix paths in lcov files for code coverage KPIs
  .github/workflows/ci-ui.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

ci: :wastebasket: remove upload of merged coverage results file
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: exclude html files from coverage
  sonar-project.properties
Due: none

fix: fix find command for not existing coverage folder
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

New pipeline and updated documentation (#9)
  .env.sample
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
  .github/workflows/ci_pipeline_simple.yml
  .github/workflows/seed.yml
  .lintstagedrc.json
  CLAUDE.md
  README.md
  apps/edc-api-e2e/README.md
  apps/edc-api-e2e/project.json
  apps/edc-api-e2e/src/support/global-setup.ts
  apps/edc-api-e2e/src/support/test-setup.ts
  apps/edc-api/README.md
  apps/edc-api/jest.config.ts
  apps/edc-api/project.json
  apps/edc-api/src/main.ts
  apps/edc-ui-ng-cucumber-e2e/README.md
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/README.md
  apps/edc-ui-ng-cypress-e2e/project.json
  apps/edc-ui-ng/README.md
  apps/edc-ui-ng/jest.config.ts
  apps/edc-ui-ng/project.json
  apps/edc-ui-ng/proxy.conf.js
  apps/edc-ui-ng/proxy.conf.json
  package.json
  sonar-project.properties
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade to node v24.14.0
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: update to Nx v22.5.4
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: update cypress, @cypress/code-coverage, @swc/core, @swc/helpers
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade to axios v1.13.6
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade to @nestjs v11.1.0
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade to @types/node v24.12.0
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade @angular/* (& related) to v21.2.2
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade used actions in workflow files
  .github/actions/setup-nodejs/action.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
  .github/workflows/ci_pipeline_simple.yml
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade to actions/setup-node v6.3.0
  .github/actions/setup-nodejs/action.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :green_heart: replace 'npm ci' by 'npm install'
  .github/actions/setup-nodejs/action.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :green_heart: sync package-lock.json
  package-lock.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :rewind: replace back 'npm install' by 'npm ci'
  .github/actions/setup-nodejs/action.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

Update dependencies (2026/03) (#10)
  .github/actions/setup-nodejs/action.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
  .github/workflows/ci_pipeline_simple.yml
  .github/workflows/seed.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade to actions/cache v5.0.3
  .github/actions/setup-nodejs/action.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :arrow_up: upgrade to SonarSource/sonarqube-scan-action v7.0.0
  .github/workflows/ci_pipeline_simple.yml
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress
