Repository jfandy1982/emby-data-check: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,mjs,cjs}": [
    "bash -c 'npm run typecheck:affected'",
    "prettier --write",
    "eslint --fix",
    "cspell lint --no-must-find-files --no-progress"
  ],
  "**/*.{json,md,html,css,scss,yml,yaml}": ["prettier --write", "cspell lint --no-must-find-files --no-progress"]
}

chore: :wrench: set retention-days to 3 for actions/upload-artifact
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

Update actions dependencies (2026/03) (#11)
  .github/actions/setup-nodejs/action.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
  .github/workflows/ci_pipeline_simple.yml
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: fetch config settings and structure from fresh nx workspace
  apps/edc-api-e2e/jest.config.cts
  apps/edc-api-e2e/project.json
  apps/edc-api-e2e/tsconfig.json
  apps/edc-api-e2e/tsconfig.spec.json
  apps/edc-api/jest.config.cts
  apps/edc-api/project.json
  apps/edc-api/tsconfig.app.json
  apps/edc-api/tsconfig.json
  apps/edc-api/tsconfig.spec.json
  apps/edc-ui-ng-cucumber-e2e/project.json
  apps/edc-ui-ng-cucumber-e2e/tsconfig.json
  apps/edc-ui-ng-cypress-e2e/project.json
  apps/edc-ui-ng-cypress-e2e/tsconfig.json
  apps/edc-ui-ng/jest.config.cts
  apps/edc-ui-ng/project.json
  apps/edc-ui-ng/tsconfig.app.json
  apps/edc-ui-ng/tsconfig.json
  apps/edc-ui-ng/tsconfig.spec.json
  eslint.config.mjs
  jest.config.ts
  nx.json
  tsconfig.base.json
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: harmonize TS config setting 'esModuleInterop'
  apps/edc-api-e2e/tsconfig.json
  apps/edc-api/tsconfig.json
  apps/edc-ui-ng-cucumber-e2e/tsconfig.json
  tsconfig.base.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: disable Cypress.env()-usage
  apps/edc-ui-ng-cucumber-e2e/cypress.config.ts
  apps/edc-ui-ng-cypress-e2e/cypress.config.ts
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :wrench: adjust sequence of config options
  package.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :see_no_evil: ignore polygraph folder
  .gitignore
Due: none

ci: :construction_worker: add skills, agents and prompts for NxCloud tooling
  .cspell.json
  .github/agents/ci-monitor-subagent.agent.md
  .github/prompts/monitor-ci.prompt.md
  .github/skills/link-workspace-packages/SKILL.md
  .github/skills/monitor-ci/SKILL.md
  .github/skills/monitor-ci/references/fix-flows.md
  .github/skills/monitor-ci/scripts/ci-poll-decide.mjs
  .github/skills/monitor-ci/scripts/ci-state-update.mjs
  .github/skills/nx-generate/SKILL.md
  .github/skills/nx-import/SKILL.md
  .github/skills/nx-import/references/ESLINT.md
  .github/skills/nx-import/references/GRADLE.md
  .github/skills/nx-import/references/JEST.md
  .github/skills/nx-import/references/NEXT.md
  .github/skills/nx-import/references/TURBOREPO.md
  .github/skills/nx-import/references/VITE.md
  .github/skills/nx-plugins/SKILL.md
  .github/skills/nx-run-tasks/SKILL.md
  .github/skills/nx-workspace/SKILL.md
  .github/skills/nx-workspace/references/AFFECTED.md
  AGENTS.md
  eslint.config.mjs
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

revert: :wrench: enable Cypress.env() usage
  apps/edc-ui-ng-cucumber-e2e/cypress.config.ts
Due: bash -c 'npm run typecheck:affected', prettier --write, eslint --fix, cspell lint --no-must-find-files --no-progress

chore: :see_no_evil: fix cypress artifact folders
  .gitignore
Due: none

ci: :construction_worker: restrict workflow trigger to main branch
  .github/workflows/seed.yml
Due: prettier --write, cspell lint --no-must-find-files --no-progress

chore: :wrench: improve coverage exclusion file filters
  apps/edc-api-e2e/jest.config.cts
  apps/edc-api/jest.config.cts
  apps/edc-ui-ng/jest.config.cts
  sonar-project.properties
Due: none

style: :art: fix formatting
  apps/edc-ui-ng/jest.config.cts
Due: none

chore: :wrench: include cts- and mts-files for pre-commit hook
  .lintstagedrc.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

ci: :construction_worker: connect pipeline and repository to NxCloud
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
  .github/workflows/seed.yml
  nx.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress

Connect to NxCloud (#13)
  .github/workflows/ci-api.yml
  .github/workflows/ci-libs.yml
  .github/workflows/ci-ui.yml
  .github/workflows/seed.yml
  nx.json
Due: prettier --write, cspell lint --no-must-find-files --no-progress
